DESGOWebApp/web/WEB-INF/wsdl/amazondesgowebservice-env-2.us-east-1.elasticbeanstalk.com_80/WSGestionFormulario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.desgo.com.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.desgo.com.ec/" name="WSGestionFormulario">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.desgo.com.ec/" schemaLocation="http://amazondesgowebservice-env-2.us-east-1.elasticbeanstalk.com:80/WSGestionFormulario?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="testerAcabados">
<part name="parameters" element="tns:testerAcabados"/>
</message>
<message name="testerAcabadosResponse">
<part name="parameters" element="tns:testerAcabadosResponse"/>
</message>
<message name="addEconomia">
<part name="parameters" element="tns:addEconomia"/>
</message>
<message name="addEconomiaResponse">
<part name="parameters" element="tns:addEconomiaResponse"/>
</message>
<portType name="WSGestionFormulario">
<operation name="hello">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionFormulario/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionFormulario/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="testerAcabados">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionFormulario/testerAcabadosRequest" message="tns:testerAcabados"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionFormulario/testerAcabadosResponse" message="tns:testerAcabadosResponse"/>
</operation>
<operation name="addEconomia">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionFormulario/addEconomiaRequest" message="tns:addEconomia"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionFormulario/addEconomiaResponse" message="tns:addEconomiaResponse"/>
</operation>
</portType>
<binding name="WSGestionFormularioPortBinding" type="tns:WSGestionFormulario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testerAcabados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEconomia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionFormulario">
<port name="WSGestionFormularioPort" binding="tns:WSGestionFormularioPortBinding">
<soap:address location="http://amazondesgowebservice-env-2.us-east-1.elasticbeanstalk.com:80/WSGestionFormulario"/>
</port>
</service>
</definitions>